body {
  font-family: 'Roboto', sans-serif;
}

footer {
  padding: 2em;
  background-color: #262626;
  font-size: 0.6em;
  color: white;
}

h2 {
  font-size: 1.8em;
  font-weight: 700;
  text-align: center;
}

em {
  font-weight: 700;
}

.ban {
  width: 100%;
}

.disclaimer {
  padding: 0.9em;
  background-color: black; 
  font-size: 0.8em;
  text-align: center;
  color: white;
}

.first_article {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0.5em;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.first_article__row_one {
  display: flex;
  flex-direction: column;
  padding-right: 4em;
}

.first_article__row_two {
  display: flex;
  width:40%;
}

.first_article__row_one--text-block {
  margin-bottom: 0.5em;
  line-height: 1.3em;
  font-size: 2em;
  font-weight: bold;
}

.title-black {
  padding: 0.1em 0.4em;
  background-color: black;
  color: white;
  text-transform: uppercase;
}

.first_article__row_one--excerpt {
  margin-bottom: 0.8em;
  line-height: 1.3em;
  font-size: 1.1em;
}

.excerpt-big-font {
  line-height: 1.5em;
  font-size: 2.1em;
  font-weight: bold;
}

.ordi-bechade {
  width: 100%;
}

.darkblue_article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 3em;
  background-color: #252764;
  text-align: center;
  color: white;
}

.darkblue_article--form-container {
  display: flex;
	flex-direction: column;
  width: 100%;
	align-items: center;
	justify-content: center;
}

.darkblue_article--form {
  display: flex;
  padding: 2em 0 2em;
  
}

.form__mail {
  width: 600px;
  height: 20px;
  padding: 1em;
	background: #fff;
  font: inherit;
  font-size: 1.2em;
  font-style: italic;
  color: #747481;
  outline: 0;
	border: 0;
  border-radius: 0.5em;
	
}

.form-btn {
  display: inline-block;
  background-color: #0922c7;
  font: inherit;
  font-size: 1.2em;
  /* font-weight: bold; */
  color: white;
	border: 0;
	outline: 0;
  margin-top: 0.2em;
  margin-left: -7.9em;
  height: 2.6em;
  padding: 0 1em;
	cursor: pointer;
	border-radius: 0.5em;
}

.coreg__container {
  display: flex;
  justify-content: center;
}


/* 

.lightblue_article {
  padding: 1.5em;
  background-color: #acd6fc;
  text-align: center;
}

.darkgrey_article {
  padding: 1.5em;
  background-color: #d9cdbf;
  text-align: center;
}

.lightgrey_article {
  padding: 2em;
  background-color: #f2f2f0;
} */