body {
  font-family: 'Roboto', sans-serif;
}

footer {
  padding: 2em;
  background-color: #262626;
  font-size: 0.6em;
  color: white;
}

h2 {
  font-size: 1.8em;
  font-weight: 700;
  text-align: center;
}

em {
  font-weight: 700;
}

.ban {
  width: 100%;
}

.disclaimer {
  padding: 0.9em;
  background-color: black; 
  font-size: 0.8em;
  text-align: center;
  color: white;
}

.first_article {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 6em;
  /* align-content: center;
  justify-content: space-between; */
}

.first_article__row_one {
  display: flex;
  flex-direction: column;
}

.first_article__row_two {
  display: flex;
}

.first_article__row_one--text-block {
  margin-bottom: 0.5em;
  line-height: 2em;
}
/* 
.white_article {
  margin: 0 10em;
  padding: 0 3em;
  background-color: white;
}

.two_rows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.row_one {
  display: flex;
  flex-direction: column;
}
.row_two {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.title_block {
  margin-bottom: 0.5em;
  line-height: 2em;
}

.title {
  font-size: 2em;
}

.title_black {
  padding: 0.1em 0.4em;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 2em;
}

.excerpt {
  margin-bottom: 0.8em;
  line-height: 1.3em;
  font-size: 1.1em;
}

.excerpt_ordi {
  width: 70%;
  padding-top: 5em;
}

.darkblue_article {
  padding: 1.5em;
  background-color: #252764;
  text-align: center;
  color: white;
}

.lightblue_article {
  padding: 1.5em;
  background-color: #acd6fc;
  text-align: center;
}

.darkgrey_article {
  padding: 1.5em;
  background-color: #d9cdbf;
  text-align: center;
}

.lightgrey_article {
  padding: 2em;
  background-color: #f2f2f0;
} */