body {
  font-family: 'Roboto', sans-serif;
}

footer {
  padding: 2em;
  background-color: #262626;
  font-size: 0.6em;
  color: white;
}

h2 {
  font-size: 1.8em;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 1.1em;
  font-weight: 700;
}

em {
  font-weight: 700;
}

.ban {
  width: 100%;
}

.disclaimer {
  padding: 0.9em;
  background-color: black; 
  font-size: 0.8em;
  text-align: center;
  color: white;
}

.first_article {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0.5em;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.first_article__row_one {
  display: flex;
  flex-direction: column;
  padding-right: 4em;
}

.first_article__row_two {
  display: flex;
  width:40%;
}

.first_article__row_one--text-block {
  margin-bottom: 0.5em;
  line-height: 1.3em;
  font-size: 2em;
  font-weight: bold;
}

.title-black {
  padding: 0.1em 0.4em;
  background-color: black;
  color: white;
  text-transform: uppercase;
}

.first_article__row_one--excerpt {
  margin-bottom: 0.8em;
  line-height: 1.3em;
  font-size: 1.1em;
}

.excerpt-big-font {
  line-height: 1.5em;
  font-size: 2.1em;
  font-weight: bold;
}

.ordi-bechade {
  width: 100%;
}

.darkblue_article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 3em;
  background-color: #252764;
  text-align: center;
  color: white;
}

.darkblue_article--form-container {
  display: flex;
	flex-direction: column;
  width: 100%;
	align-items: center;
	justify-content: center;
}

.darkblue_article--form {
  display: flex;
  padding: 2em 0 1em;
}

.form__mail {
  width: 600px;
  height: 20px;
  padding: 1em;
	background: #fff;
  font: inherit;
  font-size: 1.2em;
  font-style: italic;
  color: #747481;
  outline: 0;
	border: 0;
  border-radius: 0.5em;
}

.form-btn {
  display: inline-block;
  background-color: #0922c7;
  font: inherit;
  font-size: 1.2em;
  /* font-weight: bold; */
  color: white;
	border: 0;
	outline: 0;
  margin-top: 0.2em;
  margin-left: -7.9em;
  height: 2.6em;
  padding: 0 1em;
	cursor: pointer;
	border-radius: 0.5em;
}

.coreg__container {
  display: flex;
  width:43%;
  font-size: 0.7em;
  font-style: italic;
  text-align: left;
  margin-bottom: 1.5em;
}

.coreg__checkbox {
  margin-right: 0.8em;
}

.darkblue_article--title {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.darkblue_article--small_text {
  width: 55%;
  font-size: 0.7em;
  font-style: italic;
}

.darkgrey_article--small_text {
  width: 55%;
  font-size: 0.7em;
  font-style: italic;
  color:#747481; 
}

.white_faq_article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 4em 7em;
  background-color: white;
}

.white_faq_article__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  margin-bottom: 1.6em;
}

.faq_btn {
  width: 32%;
  /* height: auto; */
  border: 1px solid;
  border-color: #8d8d8d;
  border-radius: 1em;
  background-color: #fff;
  padding: 0.5em;
  text-decoration: none;
  font: inherit;
  color: black;
  cursor: pointer;
}

.white_faq_article__text {
  margin: 1em 0 ;
  font-size: 1em;
}

.darkgrey_article {
  padding: 1.5em;
  background-color: #d9cdbf;
  text-align: center;
}

.darkgrey_article--coreg_text {
  color:#747481;
}

.lightgrey_article {
  padding: 3em 8em 4em;
  background-color: #f2f2f0;
  display: flex;
  flex-direction: column;
}

.lightgrey_container {
  padding-top: 3em;
}

.lightgrey_section__dark {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}

.lightgrey_section__light {
  display: flex;
  margin-bottom: 2em;
}

.lightgrey_section__text-dark {
  width: 50%;
  margin: auto;
  padding: 3em 1.5em 1em 6em;
  z-index: 2;
  position: relative;
  border-radius: 4.5em;
  background: linear-gradient(to right, #e2e2e2, #fff);
  box-shadow: 5px 5px 7px 5px #e2e2e2;
  line-height: 1.2em;
}

.lightgrey_section__text-light {
  width: 50%;
  margin: auto;
  padding: 3em 6em 1.5em 1.5em;
  z-index: 2;
  position: relative;
  border-radius: 4.5em;
  background: linear-gradient(to left, #e2e2e2, #fff);
  box-shadow: 5px 5px 7px 5px #e2e2e2;
  text-align: right;
  line-height: 1.2em;
}

.lightgrey_section__name-dark {
  width: 8em;
  padding: 0.5em 5em;
  margin-left: 16em;
  z-index: 3;
  position: absolute;
  background-color: #11283a;
  border-radius: 3em;
  color:#fff
}

.lightgrey_section__name-light {
  width: 8em;
  margin-left: 45em;
  padding: 0.5em 5em;
  z-index: 3;
  position: absolute;
  background-color: #2d64d8;
  border-radius: 3em;
  color:#fff
}



.lightgrey_section__img {
  height:230px;
  clip-path:circle();
  z-index: 4;
  position: absolute;
  margin-left: 12em;
  margin-top: -122px;
}




.lightblue_article {
  padding: 1.5em;
  background-color: #acd6fc;
  text-align: center;
}

